<!DOCTYPE html>

<title>Reponse index</title>

{% block body %}
    <h1>Reponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Reponseid</th>
                <th>Reponsetext</th>
                <th>Correct</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.reponseid }}</td>
                <td>{{ reponse.reponsetext }}</td>
                <td>{{ reponse.correct ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'reponseid': reponse.reponseid}) }}">show</a>
                    <a href="{{ path('app_reponse_edit', {'reponseid': reponse.reponseid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_new') }}">Create new</a>
{% endblock %}
