<!DOCTYPE html>

<title>Reponse</title>

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Reponseid</th>
                <td>{{ reponse.reponseid }}</td>
            </tr>
            <tr>
                <th>Reponsetext</th>
                <td>{{ reponse.reponsetext }}</td>
            </tr>
            <tr>
                <th>Correct</th>
                <td>{{ reponse.correct ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'reponseid': reponse.reponseid}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
