<!DOCTYPE html>

<title>Questionnaire</title>

{% block body %}
    <h1>Questionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Questionnaireid</th>
                <td>{{ questionnaire.questionnaireid }}</td>
            </tr>
            <tr>
                <th>Questionnairename</th>
                <td>{{ questionnaire.questionnairename }}</td>
            </tr>
            <tr>
                <th>Questionnairedescription</th>
                <td>{{ questionnaire.questionnairedescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_questionnaire_index') }}">back to list</a>

    <a href="{{ path('app_questionnaire_edit', {'questionnaireid': questionnaire.questionnaireid}) }}">edit</a>

    {{ include('questionnaire/_delete_form.html.twig') }}
{% endblock %}
